{% extends "team6/base.html" %}
{% load static %}

{% block title %}
    {% if article %}{{ article.title_fa }}{% else %}ایجاد مقاله{% endif %}
{% endblock %}

{% block content %}
<h2>
    {% if article %}{{ article.title_fa }}{% else %}ایجاد مقاله{% endif %}
</h2>
<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
        {{ form.title_fa.label_tag }} {{ form.title_fa }}
    </div>
    <div class="mb-3">
        {{ form.place_name.label_tag }} {{ form.place_name }}
    </div>
    <div class="mb-3">
        {{ form.slug.label_tag }} {{ form.slug }}
    </div>
    <div class="mb-3">
        {{ form.category.label_tag }} {{ form.category }}
    </div>
    <div class="mb-3">
        {{ form.summary.label_tag }} {{ form.summary }}
    </div>
    <div class="mb-3">
        {{ form.body_fa.label_tag }} {{ form.body_fa }}
    </div>
    <button type="submit" class="btn btn-success">ذخیره</button>
</form>
{% endblock %}
